<style>

    h1 {
        padding: 10px;
    }

    .box {
        margin: 20px;
    }

    .input-box{
        height:82%;
        width: 92%;
    }

    .add-blog-box {
        margin: 10px;
        width: 95%;
        height:80%;
        background-color: rgb(132, 146, 230);
        border-radius: 10px;
    }

</style>
<div class="add-blog-box">
    <h1>Add Blog</h1>
    <div class="box">
        <textarea class="input-box" placeholder="Type blog here"></textarea>
        <button type="submit" onclick="window.location.href='http://localhost:3000/';">Add Blog</button>
    </div>
</div>


