<form class="searchbar">
    <div class="input-group">
    <span class="input-group-text" id="basic-addon1">@</span>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
</form>

<div class="card">
    <div class="card-header">   
        <h4>Recent Commens</h4>
    </div>

    <div class="card-body">
        <p>Read some posts  and let people know what you think</p>
        <p> and they will show up here !</p>
    </div>  
</div>
<div class="card">
    <div class="card-header">   
        <h4>Your Comments</h4>
    </div>

    <div class="card-body">
        <p>Make a blog and see here what people thinka about it</p>
    </div>  
</div>